{%with connection = file.connection %}


<form id="input-configuration-form" method="post" action="/inputfiles/configure/{{file.id_}}">

    <div class="form-group" style="position:relative">
        <label for="inputfile_application">Application</label>
        <input name="application" type="text" class="autocomplete form-control" id="inputfile_application"
               placeholder="Enter Path to application" value="{{file.filename}}">

        <script>
            $(document).ready(function(){
               autocomplete(document.getElementById('inputfile_application'), function() {
                        return "&file={{file.id_}}&context=inputfile";
               },"/inputfiles")
            })
        </script>

    </div>


    <div class="form-group">
        <label for="specDump">Command required to extract application schema.</label>
        <input name="specDump" type="text" class="form-control" id="specDump" value="{{file.specDump}}">
        <small>
            This should be the command required to ensure INJECTION_INITIALIZE gets called within the
            application. VnV uses an environment variable to set the VnV Input file internally.  We
            will substitute the value of ${application} with the file path configured above.
            On the off chance that you need it, the value %{inputfile} will be substituted with a path
            to the VnV Input file that will be used.

        </small>
    </div>
    <div class="form-group">
        <label for="specDump">Additional Plugins</label>
        <textarea name="plugs" type="text" class="form-control" id="plugins" row="10">{{file.plugs_str()}}</textarea>
        <small>
            This should be a key value map representing the additional vnv plugins you would
            like to be included when generating the specification. You have to explicitly
            add these to the input file as well to get them included in the final report. The value
            should be valid json mapping the plugin name to the plugin library on the machine where
            the executable will be run.
        </small>
    </div>

    <div id="connection_information">

        <div class="form-group form-check">
            <input name="local" type="checkbox" class="form-check-input" id="clh" {%if
                   connection.local()
                   %}checked {%endif%}>
            <label class="form-check-label" for="clh">Files are accessible from the web
                server.</label>
        </div>
        <div id="remote_conn_info" style="{%if connection.local()%} display:none; {%endif%}">
            <div class="form-group">
                <label for="cun">Username</label>
                <input name="username" type="text"
                       class="form-control"
                       id="cun" placeholder="Enter Username"
                       value="{{connection.username()}}">
            </div>
            <div class="form-group">
                <label for="cd">Domain</label>
                <input name="domain" type="text"
                       class="form-control"
                       id="cd" placeholder="Enter Domain name"
                       value="{{connection.domain()}}">
            </div>
            <div class="form-group">
                <label for="cp">Port</label>
                <input name="port" type="number" min="0"
                       class="form-control" id="cp" placeholder="Enter SSH Port Number"
                       value="{{connection.port()}}">
            </div>

            <div class="form-group">
                <label for="cpa">Password</label>
                <input name="password" type="password"
                       class="form-control"
                       id="cpa" placeholder="Enter your password" value="">
            </div>
        </div>
    </div>

     <div class="form-group">
         <button type="submit" class="btn btn-primary" style="width:100%">Save</button>
    </div>

</form>
{%endwith%}