<h2>Input File Editor</h2>


{%with NAME = "VnV Input File", VALUE= "input" , TEXT=file.value, DEFAULTFILE=file.loadfile, MODE="json", LABEL="Path to Input File",
EXTBTN = [["format_input_file", "Format"],["shrink_input_file", "Minify"]] %}
{%include "inputfiles/input_edit_template.html" %}
{%endwith%}

<script>

function format_input_file(fileid) {
   s = ace.edit("inputfile-" + fileid)
   try {
      s.setValue(JSON.stringify(JSON.parse(s.getValue()),null,5))
   } catch {
      addToast("Format Failed","We can only format valid json at this time",4000)
   }
}

function help_input_file(fileid) {
   show_help_modal("input")
}

function shrink_input_file(fileid) {
   s = ace.edit("inputfile-" + fileid)
   try {
      s.setValue(JSON.stringify(JSON.parse(s.getValue())))
   } catch {
      addToast("Format Failed","We can only format valid json at this time",4000)
   }
}


</script>