<!-- this HTML file
  tab: "Results"
    visible when "Results" tab is opened
 -->

<!-- 
  header: "Jobs"
 -->
{%with jobs = file.get_jobs() %}
<h4 style="flex:1">Jobs</h4>

<!-- 
  text: "No Jobs Found"
    outputs if there are no jobs
 -->
{% if jobs | length == 0 %}
<div>No Jobs Found</div>
{%else%}


<table class="table">
    <thead>
    <tr>
        <th>Status</th>
        <th>Name</th>
        <th>Date</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <!-- iterates through all jobs then creates buttons for them -->
    {% for job in file.get_jobs() %}
    <tr style="cursor:pointer;" title="click to expand" onclick='expand_job_section("{{job.getId()|safe}}")'>
        <td style="vertical-align:middle;">
            <div id="status_{{job.getId()|safe}}" class="badge
                            {%if job.running() == True %} badge-warning">Running
                {%elif job.exitcode() == 0 %} badge badge-success">Completed
                {%else%} badge-danger">Error {{job.exitcode()}}
                {%endif%}
            </div>
        </td>
        <td style="vertical-align:middle;">{{job.getName()}}</td>
        <td style="vertical-align:middle;">{{job.dispDate()}}</td>
        <td>
            <div style="display:flex; justify-content:flex-end">
                <!-- 
                  button: "Cancel"
                    cancels a job while it's executing
                 -->
                <button class="{{job.getId()|safe}}_rn btn btn-primary" style="margin-right:10px;" {%if not
                        job.running()%}
                        hidden {%endif%} onclick='cancel_exe_job(event, {{file.id_}},"{{job.getId()}}")'>Cancel
                </button>
                <!-- 
                  button: "VnV Report"
                    creates/opens a report from a completed job
                 -->
                <button class="{{job.getId()|safe}}_nn btn btn-primary" style="margin-right:10px;" {%if job.running()%}
                        hidden
                        {%endif%}
                        onclick='open_vnv_report(event, "{{job.metadata.get("workflow_id")}}","{{job.metadata.get("workflow_dir")}}")'>
                    VnV Report
                </button>
                <!-- 
                  button: "Delete"
                    deletes a job
                 -->
                <button class="{{job.getId()|safe}}_nn btn btn-primary" style="margin-right:10px;" {%if job.running()%}
                        hidden
                        {%endif%} onclick='delete_exe_job(event, {{file.id_}},"{{job.getId()}}")'>Delete
                </button>
            </div>
        </td>
    </tr>
    <tr id="jcontent_{{job.getId()|safe}}" style="display:none" >
        <td colspan="4">
            <div class="jcontent" style="overflow:scroll;">
               <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" state="main-tab" id="pills-script-tab-{{job.getId()}}" data-toggle="pill"
                       href="#pills-script-{{job.getId()}}" role="tab"
                       aria-controls="pills-script" aria-selected="true">Script</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-input-tab-{{job.getId()}}" data-toggle="pill" href="#pills-input-{{job.getId()}}"
                       role="tab"
                       aria-controls="pills-input" aria-selected="true">Input File</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-output-tab-{{job.getId()}}" data-toggle="pill" href="#pills-output-{{job.getId()}}"
                       role="tab"
                       aria-controls="pills-output" aria-selected="true">Output</a>
                </li>
            </ul>

            <div class="tab-content fcolumn fchild " id="pills-tabContent">

                <div class="tab-pane fade show active finlinecolumn fchild" id="pills-script-{{job.getId()}}" role="tabpanel"
                     aria-labelledby="pills-script-tab-{{job.getId()}}">
                    {{highlight_code(job.script(), "sh")|safe}}
                </div>
                <div class="tab-pane fade finlinecolumn fchild" id="pills-input-{{job.getId()}}" role="tabpanel"
                     aria-labelledby="pills-input-tab-{{job.getId()}}">
                    {{highlight_code(job.metadata.get("vnv_input"),"json")|safe}}
                </div>
                <div class="tab-pane fade finlinecolumn fchild" id="pills-output-{{job.getId()}}" role="tabpanel"
                     aria-labelledby="pills-output-tab-{{job.getId()}}">
                    <div id="stdout_{{job.getId()|safe}}">{{job.stdout()|safe}}</div>
                </div>

            </div>
            </div>
        </td>
    </tr>
    {% if job.running() %}
    <script>
        $(document).ready(function() {
          refresh_exe_job('{{job.getId()}}')
        })

    </script>
    {% endif %}
    {%endfor%}
    </tbody>
</table>

<script>
    function open_vnv_report(e, id, dir) {
        e.stopPropagation();
        markAsLoading(true,"Loading")
        $.get("/inputfiles/openreport/{{file.id_}}?confirmed&id=" + id + "&dir=" + dir , function(data1, status,xhr) {

            if (xhr.status == 200) {
                window.location.href = data1
            } else {
                alert("Could not a find valid vnv report for this job")
            }
        })
    }

    function expand_job_section(jobId) {

        var p = $('#input-file-job-list').width()
        $('.jcontent').width(p)

        var a = $("#jcontent_" + jobId)
        if (a.is(":visible")) {
            $("#jcbtn_" + jobId).html("Expand")
        } else {
            $("#jcbtn_" + jobId).html("Collapse")
        }
        a.toggle("show")
    }

    function refresh_exe_job(jobId) {

        $.get("/inputfiles/refresh_job/{{file.id_}}/" + jobId , function(data) {

            sta = data["status"]
            if (sta != "running") {
                $("." + jobId + "_nn" ).removeAttr("hidden")
                $("." + jobId + "_rn" ).attr("hidden","")
                $('#stdout_' + jobId).html(data["stdout"])
                if (data["exitcode"] == 0) {
                    $('#status_' + jobId).html("Complete")
                    $('#status_' + jobId).removeClass()
                    $('#status_' + jobId).addClass("badge badge-success")
                } else if ( sta === "error" ) {
                    $('#status_' + jobId).html("Error " + data["exitcode"] )
                    $('#status_' + jobId).removeClass()
                    $('#status_' + jobId).addClass("badge badge-danger")
                }
            } else {
                setInterval(function() { refresh_exe_job(jobId)} , 2000)
            }
        })
    }

    $(window).on('resize', function() {
        var p = $('#input-file-job-list').width()
        $('.jcontent').width(p)
    })



</script>

{%endif%}
{%endwith%}