<!-- header that shows the input file name and various buttons (Configure, Preview, Save, Execute) -->

<!-- 
  header: "Name of input file" 
-->
<div style="flex:1;" >
   <h1 contenteditable=true id="inputfile_display_name" >{{file.displayName}}</h1>
   <div style="    font-size: 14px; margin-top: -13px;margin-left: 1px; margin-bottom: 10px;" >
      <span title="{% if file.connection.connected()%}Connected{%else%}Not Connected{%endif%}" style="color:{% if file.connection.connected()%}green{%else%}red{%endif%};">{{file.connection.describe()}}:/</span><span style="color:{{file.getFileStatus()[0]}};">{{file.filename}}</span> 
   </div>
   <div id="main_desc">{{file.get_executable_description()|safe}}</div>

</div>

<div style="display:flex; position:relative; top:5px; right:5px">
   <!-- 
    button: Configure 
   -->
   <button id="exec_config" class="btn btn-primary input-save-button" style="margin-left:10px"
            onclick="$('#config-file-modal').modal('show')">Configure
   </button>
   <!-- 
    button: Preview 
   -->
   <button id="exec_prev" class="btn btn-primary input-save-button" style="margin-left:10px"
            onclick='preview_the_job({{file.id_}})'>Preview
   </button>
   <!-- 
    button: Execute 
   -->
   <button id="exec_exec" class="btn btn-primary input-save-button" style="margin-left:10px"
            onclick='execute_the_job({{file.id_}})'>Execute
   </button>
</div>

<!-- 
  modal: "Configuration" 
    visible after clicking "Configure" button
-->
<div id="config-file-modal" class="modal fade" tabindex="-1" style="height:98vh;" role="dialog"
     aria-labelledby="rst-modal-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width:98vw; max-width:1000px" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cf-modal-label"> Configuration </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="cf-modal-body">
                {%include "inputfiles/config_form.html" %}
            </div>
        </div>
    </div>
</div>

<script>

document.getElementById("inputfile_display_name").addEventListener("input", function() {

                $.post('/inputfiles/update_display_name/{{file.id_}}?new=' + encodeURIComponent($(this).html()), function(data) {
                    $('#inputfile-display-name-side-{{file.id_}}').html(data)
                });
}, false);

function save_the_job(fileId) {
   save_input_object(fileId,"inputfile", "save_input")
   save_input_object(fileId, "execfile", "save_exec")
}

function execute_the_job(fileid) {
   save_input_object(fileid,"inputfile", "save_input", function(data,s,xhr) {

       if (xhr.status == 200) {
          save_input_object(fileid,"execfile", "save_exec", function(dd,ss,xx) {
               if (xx.status == 200) {
                  $.get(`/inputfiles/execute/${fileid}?val=${encodeURIComponent(ace.edit("execfile").getValue())}`, function(data) {
                     refresh_jobs_list(fileid)
                     $('#pills-jobs-tab').click()
                  });
               } else {
                   alert("Something went wrong - Please try again.")
               }
          })
       } else {
          alert("Something went wrong - Please try again.")
       }
   })
}

function preview_the_job(fileid) {
   $.get(`/inputfiles/execute/${fileid}?highlight&dryrun=1&val=${encodeURIComponent(ace.edit("execfile").getValue())}`, function(data) {
           aceView("Executable Script Preview", data,"sh")
   });
}

</script>

