<!-- this HTML file
  header: "Provenance"
    displays file "row" when under the Libraries tab of the report's Provenance tab
    lists path to Executable, whether it's up-to-date, and other info
 -->

<div style="display: flex">
    <!-- display Executable prefix, it's path, and its size -->
    <h6 style="flex:1"> {{prefix}} {{ file.getName() }} ({{file.getSize()}} Bytes)</h6>
    <!-- 
      pill: "Modified"
        visible if file modified since Executable ran
        hover over it to see the title
    -->
    {% if file.modified() %}
    <p  class="badge badge-warning" title="The file has been modified since this report was created">Modified</p>
    <!-- 
      pill: "Up to date"
        visible if file NOT modified since Executable ran
        hover over it to see the title
    -->
    {% else %}
    <p class="badge badge-success" title="The file has not been changed since the report was created">Up to date</a>
    {% endif %}
    <!-- 
      button: "View"
        click this to view source file
        visible if file is readable
     -->
    {%if file.readable() %}
    <a href="#!" onclick='show_file_reader({{file.getVnVFileId()}},"{{file.getUrl()}}","{{file.reader()}}","")' class="badge badge-info"
       style="margin-left:10px" ;>View</a>
    {% endif %}


</div>
<div>
    {{ file.getDescription() | safe }}
</div>
