<!-- set the list of files that are later referrenced in a for loop -->
{% with filelist = file.get_prov().get_libraries() %}
<div class="" >
    <div class="card-body">
        <!-- 
          input text field: "Search by filename"
            use this to search for a file in filelist
         -->
        <div style="flex" class="form-group">
            <input type="text" class="form-control"  placeholder="Search by filename" value="" id="libfilefilter">
        </div>
        <!-- if there are "file" objects, then create a "row" under the Libraries for them -->
        {%if filelist | length > 0 %}
             {%for file in filelist %}
                {%with prefix="", include_header = (loop.index0 == 0 )  %}
                   <div class="libfile"  name="{{file.getName()}}" style="margin:10px;">{%include "files/prov/file.html" %}</div>
                {%endwith%}
             {%endfor%}
        {% else %}
        <!-- if there are NO "file" objects, then say so -->
        <div style="margin:10px;">No files Detected.</div>
        {%endif%}
    </div>

</div>{%endwith%}

<script>
$(document).ready(function(){
    $('#libfilefilter').on('input', function() { $(".libfile").each((k,v)=>{ $(v).toggle ( $(v).attr("name").startsWith($('#libfilefilter').val()) )}) })
    $(".libfile").each((k,v)=>{ $(v).toggle ( $(v).attr("name").startsWith($('#libfilefilter').val()) )})
})
</script>
