
<div class="fcolumn fchild">
    <div id="MooseInputFile" style="width:100%; height:1000px;"></div>
</div>

<script>

    var elmId = "MooseInputFile"
    var input_editor = ace.edit(elmId,
    {
        theme: "ace/theme/tomorrow_night_blue",
        mode: "ace/mode/moose",
        autoScrollEditorIntoView: true,
        minLines: 40,
        enableBasicAutocompletion: true,
        enableLiveAutocompletion: live
    });

    var inputWordCompleter = {
       getCompletions: function(editor, session, pos, prefix, callback) {
         if (ace.edit(elmId) == editor ) {

           url = "{{url_for('base.moose.autocomplete', fileId=file._id)}}"
           url += "?row=" + pos.row
           url += "&col=" + pos.column
           url += "&pre=" + prefix
           url += "&data=" + encodeURIComponent(input_editor.getValue())
           $.get(url, function(data) {
                callback(null, data );
           });
         }
       },
       getDocTooltip: function(item) {
         if (item.desc.length > 0 ) {
            item.docHTML = item.desc
         }
       }
    }
    langTools.addCompleter(inputWordCompleter)

    const originalSetAnnotations = input_editor.session.setAnnotations

    input_editor.session.setAnnotations = function (annotations) {

      if (annotations && annotations.length) {
        originalSetAnnotations.call(input_editor.session, annotations)
      } else {
          url = "{{url_for('base.moose.annotate', fileId=file._id)}}"
          url += "?data=" + encodeURIComponent(input_editor.getValue())
          $.get(url, function(data) {
            originalSetAnnotations.call(input_editor.session, data)
          })
      }
    }
     url = "{{url_for('base.moose.get', fileId=file._id)}}"
     $.get(url, function(data) {
        input_editor.setValue(data)
     })

</script>