html {
  overflow: hidden !important;
}

.menu-indicator-space {
  position: absolute;
  min-height: 10%;
  min-width: 100%;
}

.main-container {
  position: relative;
  height: 100%;
}

.glvis-window {
  position: absolute;
  margin: 0px;
  border: 0;
  top: 0;
  left: 0;
  height: 100%;
}

.glvis-window-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
}

.overlay-left {
  position: absolute;
  z-index: 9;
  min-width: 200px;
  min-height: 50px;
  padding: 5px;
}

.overlay-middle {
  position: absolute;
  z-index: 9;
  top: 10%;
  left: 45%;
  margin-right: -50%;
}

.overlay-right {
  position: fixed;
  right: 0px;
  min-width: 100px;
  min-height: 50px;
  padding: 5px;
  z-index: 9;
}

.overlay-button {
  margin: 1px;
}

.control-container {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  right: 0px;
  top: 60px;
  margin: 5px;
  padding: 5px;
  z-index: 9;
}

.help-container {
  position: absolute;
  padding: 0.5%;
  margin: 0.5%;
  top: 7%;
  left: 0.5%;
  height: 85%;
  white-space: pre;
  overflow: auto;
  float: left;
  font-family: monospace;
  font-size: small;
  min-width: 280px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.v-icon.outlined {
  border: 1px solid currentColor;
  border-radius: 50%;
  height: 56px;
  width: 56px;
}

.log-warn {
  color: orange;
  font-weight: bold;
}

.log-error {
  color: red;
  font-weight: bold;
}

.log-debug {
  color: green;
}

.log-info {
  color: blue;
}
