
<div class="card" style="padding:20px; height:100%">

    <div style="position:relative; align-items:center; margin-bottom:30px;">
        <h2 style="flex:1">
            {% if iprender.processing() %}
                <a id='ipprocessing-{{iprender.getId()}}' href="#!" onclick="" class="vnvh"
               style="margin-left:10px;"><i style="color:orange;" title="Processing" class="feather icon-circle"></i></a>
            {% endif %} {{iprender.getTitle() | safe }}</h2>

        <div class="" style="display:flex; flex-direction:row;  position:absolute; top:calc(50% - 16px); right:10px;">
            {% if iprender.getLogs() | length %}
            <a href="#!" onclick="$('#log-modal').modal('toggle')" class="vnvh"
               style="margin-left:10px;"><i class="feather icon-alert-triangle"></i> </a>
            {%endif%}
            {% if iprender.needs_comm_map() %}
            <a href="#!" onclick="show_comm_map('{{file.id_}}', '{{iprender.getId()}}')" class="vnvh"
               style="margin-left:10px;  font-size:15px;" ><i title="Communication Map" class="feather icon-cpu"></i></a>
            {%endif%}
            <a href="#!" onclick="show_ip_rst_editor({{iprender.getFile()}}, {{iprender.getId()}}, {{iprender.getInternalTest().getData().getId()}} )"
               class="vnvh" style="margin-left:10px; font-size:15px;"
            ><i class="feather icon-edit"></i></a>



        </div>
        <script>
        setTimeout(function() {
              update_ip_processing("ipprocessing-{{iprender.getId()}}", {{iprender.getFile()}},{{iprender.getId()}})
        }, 3000 )





        </script>
    </div>

    {%include "viewers/request.html"%}

    <div id="internal_render">
        {% with testrender = iprender.getInternalTest() %}
        {%include 'viewers/test.html' %}
        {% endwith %}
    </div>

    {% if iprender.getAdditionalTests() | length > 0 %}
    <hr style="border: 1px solid #e0e0e3;width: 95%;margin-bottom: 30px;">
    <div class="injection-tests">

        {% for testrender in iprender.getAdditionalTests() %}
        <div class="card injection_test" style="padding:20px;">

            <div style="position:relative; align-items:center ">
                <h3 style="flex:1; margin-bottom:30px;"> {{ testrender.getTitle() | safe }} </h3>
                <div class="" style="display:flex; flex-direction:row;  position:absolute; top:calc(50% - 16px); right:10px;">

                {% if testrender.getLogs() | length %}
                <a href="#!"
                   onclick="$('#test-log-modal-{{testrender.getId()}}').modal('toggle')"
                   class="vnvhg" style="margin-left:10px; font-size:15px;"><i class="feather icon-alert-triangle"></i></a>
                {%endif%}

                <a href="#!"
                   onclick="show_ip_rst_editor({{iprender.getFile()}}, {{testrender.getId()}} , {{testrender.getData().getId()}} )"
                   class="vnvhg" style="margin-left:10px; font-size:15px;"><i class="feather icon-edit"></i></a>

                <a href="#!" onclick="$('#render-{{loop.index}}').toggle(300); $(this).find('i').toggle(300);" class="vnvhg"
                   style="margin-left:10px; font-size:15px;"><i class="feather icon-minimize"></i><i class="feather icon-maximize" style="display:none"></i></a>
                </div>
            </div>
            <div id="render-{{loop.index}}" class="iscale">
                {%include 'viewers/test.html' %}
            </div>
        </div>
        {% endfor %}
    </div>

    {% endif %}

</div>


{% if iprender.getLogs() | length %}
<div id="log-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="comm-modal-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="log-modal-label">Injection Point Logs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="log-modal-body">
                {% for logRender in iprender.getLogs() %}
                    {%include "files/log.html"%}
                {% endfor%}
            </div>
        </div>
    </div>
</div>
{%endif%}


<div id="source-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="source-modal-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="source-modal-label">Injection Point Source</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="source-modal-body">
                {%with sourceMap = iprender.getSourceMap() %}
                {%include 'files/sourcemap.html'%}
                {%endwith%}
            </div>
        </div>
    </div>
</div>



<script>

 var apex_chart_comm_map = null

 function draw_apex_chart(series) {
    var options = {
            series: series,
            chart: {
              height: "100%",
              type: 'heatmap',
            },
            heatmap: {
               reverseNegativeShade : true
            },
            dataLabels: {
              enabled: true,
              formatter: function (val, opts) {
                    d = opts.w.config.series[opts.seriesIndex].data[opts.dataPointIndex]
                    rr =  "Rank " + d.r ;
                    return rr
              },
              textAnchor: 'middle',
            },

            colors: ["#11345d"]
        };
        apex_chart_comm_map =  new ApexCharts(document.querySelector("#commmap-chart"), options);
        apex_chart_comm_map.render();

 }
 $(document).ready(function() {
    draw_apex_chart([])
 })


function show_comm_map(fileId, injectionPointId) {
    $.get("/files/comm_data/" + fileId + "/" + injectionPointId, function(data) {
        debugger;
        if (apex_chart_comm_map) {
            apex_chart_comm_map.destroy()
            $('#commmap-chart').empty();
        }
        draw_apex_chart(JSON.parse(data))
        $('#comm-modal').modal('show')
     });
}

</script>