<div style="display:flex;">
    <div id="view-view" class="card" style=" min-width:500px; min-height: calc(100vh - 126px); max-width:50%; overflow-x: auto; padding-right:20px; padding-left:20px; padding-top:20px; margin-right:10px; margin-bottom:0px;">
        <div style="display:flex; align-items:center; margin-bottom:15px;">
            <h3 style="flex:1; margin:0;">VnV Reports</h3>
            <div id="report_refresh_button" style="display:flex; cursor:pointer; font-size:30px; justify-content:flex-end; margin-right:10px;" onclick="update_tree_data(false)">
                <i class="feather icon-refresh-ccw"></i>
            </div>
            <div style="display:flex; cursor:pointer; font-size:30px; justify-content:flex-end" onclick="load_new_file()">
                <i class="feather icon-plus-circle"></i>
            </div>
        </div>
        <div id="view-chart">
            <div id="treeLoading">Loading...</div>
            <div id="treeview1" class="treeview"></div>
            <script>

                function adddelete() {
                            $('a:has(>.trash)').each(function() {

                                    var $anchor = $(this);
                                    if ($anchor.find('.addDelete').length == 0 ) {



                                        var $span = $('<span>').html('<i class="feather icon-trash"></i>')
                                        .on('click', function() {
                                            const fileId = $('#treeview1').jstree(true).get_node('#' + $anchor.attr('id')).original.vid
                                            remove_file(fileId);
                                        }).addClass('addDelete')


                                        $anchor.append($span);
                                        $anchor.css('width','98%');
                                    }
                            });

                }


                function update_tree_data(loading, processors) {
                    var url = `/files/viewers/tree`
                    if (loading) {
                        $('#treeview1').hide()
                        $('#treeLoading').show();
                    }

                    $.get(url, function (dd) {

                        $('#treeview1').jstree("destroy").empty();
                        $('#treeview1').jstree({ core: { data: dd["data"] } });
                        $('#treeview1').on("ready.jstree", function (e, data) {
                            adddelete();
                        })
                        $('#treeview1').on("open_node.jstree", function (e, node) {
                            if (node.node.original.fid == -245) {
                                adddelete();
                            }
                        })

                        $('#treeview1').on("select_node.jstree", function (e, data) {
                            updateIpState(data.node.original.fid, data.node.original.vid, data.node.original.proc, data.node.original.procv)
                        });



                        $('#treeLoading').hide();
                        $('#treeview1').show();
                        if (!dd["done"]) {
                            $('#report_refresh_button').show()
                        } else {
                            $('#report_refresh_button').hide()
                        }
                        updateIpState("-245", 0, 0, false)

                    })

                }



                $(document).ready(function () {
                    update_tree_data(true)
                });


            </script>
        </div>

    </div>
    <div id="view-content" class="card" style="width:100%; padding:10px; margin-right:20px; min-height: calc(100vh - 126px); ">
        <div class="slider-container" style="position:absolute; top:5px; right:5px;">
            <input style="float:right" type="range" id="widthSlider" min="0" max="100" value="100" onmouseup="adjustWidth()">
        </div>
        <div id="injection-element" style="flex:1; margin-top:20px;"></div>
    </div>
    <div style="width:30px; "></div>
</div>

<script>
    function load_new_file() {
         $('#new_file_modal').modal()
    }

    function adjustWidth() {
            const slider = document.getElementById('widthSlider');
            const box = document.getElementById('view-content');
            box.style.width = slider.value + '%';
    }
</script>