<!-- FIXME do I need {% with strip ...} -->
{% with strip = request.args.get("strip"), processor = request.args.get("processor","0")  %}
{%with f=file.set_proc_iter(processor,strip)%}{%endwith%}

<!-- FIXME if click link on left, display data on right -->
{% with strip = request.args.get("strip"), processor = request.args.get("processor","0")  %}
<h3>Stored Data</h3>
<div id="treeLoading">Loading...</div>
<div id="treeview1" class="treeview"></div>

<script>
  $(function() {
            var data = []
            var current = [data]


            function getCurrent() {
                return current[current.length - 1]
            }
            function popCurrent() {
                current.pop()
            }
            function pushCurrent(d) {
                current.push(d)
            }

            function getNewSeries() {
                types
                var url = '{{url_for('base.files.viewers.next', id_=file.id_, count=10 )}}'
                $.get(  url , function(dd) {
                    // turn off loading message since a series of links to Injection Points has been loaded
                    $('#treeLoading').toggle(false);
                    var r = dd['data']
                    r.forEach(function (item, index) {
                        // ?? if this is the last element in the tree, then use it to make a tree
                       if (item.type == "end") {
                          popCurrent()
                        // ?? if this is the first element of a tree/subtree, push it and its children onto parent tree
                       } else if (item.type == "start") {
                            // example: VnV application with R letter
                            //   item.title="Vnv Application"
                            //   id=
                            d = { "text" : item.title , "id" : item.id, "children" : [], "state" : { "opened" : true } }
                            if (item["package"]) {
                                // creates icon with letter inside of it
                                //      i element
                                d["icon"] = "letter letter-" + item["package"][0].toUpperCase()
                            }
                            getCurrent().push(d)
                            pushCurrent(d["children"])
                        // ?? if this is a leaf of a tree, push it onto the parent tree
                       } else if (item.type == "point") {
                           d = { "text" : item.title , "children" : [] }
                           getCurrent().push(d)
                       }
                    });
                    if (data.length > 0 ) {
                         $('#treeview1').jstree({core: { data : data } });

                    }
                    // if there is nothing in r or there is no done at the end of r
                    if ( ( r.length == 0 || !("done" in r[r.length -1]) ) ){

                         chartInterval = window.setTimeout(getNewSeries,3000)
                    }

                });
            }
            // run the getNewSeries() function when the document has loaded
            $(document).ready(function() {
                getNewSeries()
                $('#treeview1').on("select_node.jstree", function (e, data) {
                    updateIpState(data.node.id , {{file.id_}} )
                });
            });

        });


</script>

{%endwith%}
{%endwith%}