<div class="modal fade" id="new_file_modal" tabindex="-1" role="dialog" aria-labelledby="new_file_modal_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="new_file_modal_label">Load A New VnV Report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>



            <div class="modal-body">
                <form id="new_file_form" action="/files/new" method="post">

                    <div id="select-group" class="form-group">
                        <label for="report-select" class="form-label">Name</label>
                        <select class="form-control" id="report-select" name="report" onchange="updateFields(this)">
                            <option value="">Select A VnV Report.</option>
                            {% for key, value in list_registered_reports().items() %}
                            <option value="{{ key }}" data-value="{{ value }}">{{ key }}: ({{value}})</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div id="name-group" class="form-group">
                        <label for="name" class="col-form-label">Name</label>
                        <input id="new-report-name" type="text" class="form-control" name="name" id="name" value="Untitled Report">
                        <small>This name will be used to identify the report in menus and titles.</small>
                    </div>

                    <div class="autocomplete form-group" style="width:100%">
                        <label id="reader_label" for="inputfilename" class="col-form-label">FileName For The VnV Output File</label>
                        <input id="inputfilename" type="text" class="form-control" name="filename" autocomplete="off" placeholder="" value="">
                    </div>

                    <script>
                        $( document ).ready(function() {


                            autocomplete(document.getElementById('inputfilename'), function() {
                                return "&context=" + $('#reader').val();
                            })
                        });
                    </script>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn  btn-primary" form="new_file_form">Load file</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="file_viewer_modal" tabindex="-1" role="dialog" aria-labelledby="file_viewer_modal_label" aria-hidden="true">
    <div id="file_view_modal_dialog" class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="file_viewer_modal_label">View File </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div id="file_viewer_modal_body" class="modal-body" style="display:flex; justify-content:center">

            </div>

        </div>
    </div>
</div>

<div id="data-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="data-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="data-modal-label">Data Explorer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="data-modal-body"></div>
        </div>
    </div>
</div>


<div id="comm-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="comm-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="comm-modal-label">Injection Point Communication Map</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="comm-modal-body">
                <div id="commmap-chart"></div>
            </div>
        </div>
    </div>
</div>


<script>
    function updateFields(selectElement) {
        var selectedKey = selectElement.options[selectElement.selectedIndex].value;
        var selectedValue = selectElement.options[selectElement.selectedIndex].getAttribute('data-value');
        document.getElementById('new-report-name').value = selectedKey;
        document.getElementById('inputfilename').value = selectedValue;
    }
</script>

