{% with loopList = [["input","VnV Configuration", True],["inputfiles","Input Files", file.get_prov().has_inputs() ],["outputs","Outputs", file.get_prov().has_outputs() ],["libraries","Libraries", True]] %}
{% with active_tab = request.args.get("btab",loopList[0][0]) %}
<!-- 
  column: "Content in Provenence tab"
 -->

    <!-- 
      header: "Provenance tab"
        lists info about Executable path, command line path, and date of executable compilation
     -->
    <h2>Application Provenance</h2>


    <div class="">

                 <h6>Executable Path: {{ file.get_prov().get_executable().getName() }} </h6>
                 <h6>Executable File Size: {{file.get_prov().get_executable().getDisplaySize()}} </h6>
                 <h6>Executable TimeStamp: {{file.get_prov().get_executable().getDisplayTimeStamp()}} </h6>
                 <h6>Report Generation Date: {{ file.get_prov().get_timestamp() }} </h6>
                 <h6>Executable CRC32 Hash at Runtime: {{ file.get_prov().get_executable().getCrc() }} </h6>
                 <h6>Working Directory: {{ file.get_prov().get_working_directory()}}</h6>
                 <h6>Command Line: {{ file.get_prov().get_command_line() }}</h6>
                 <h6>Report Directory: {{ file.filename }}</h6>

    </div>

    <!-- 
      divider
     -->
    <div style="height:25px;"></div>

    <!-- 
      tab list: "Libraries and VnV Configuration"
        lists buttons to display "Libraries" and "VnV Configuration" tabs
     -->
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        {% for i in loopList %}
        <!-- if creating the "VnV Configuration" tab button -->
        {% if i[2]%}
        <li class="nav-item">
            <a class="nav-link {%if active_tab == i[0] %} active {%endif%}" state="provVals" id="pills-{{i[0]}}-tab" data-toggle="pill"
               href="#pills-{{i[0]}}" role="tab"
               aria-controls="pills-{{i[0]}}" aria-selected="true">{{i[1]}}</a>
        </li>
        {%endif%}
        {%endfor%}
    </ul>
    
    <!-- 
      column: "Content under tab"
        displays content from "Libraries" or "VnV Configuration"
     -->
    <div class="tab-content fcolumn fchild " id="pills-tabContent">
        {% for i in loopList %}
        <!-- if "VnV Configuration" tab is open -->
        {%if i[2] %}
        <div class="tab-pane fade {% if active_tab == i[0] %} show active {%endif%} finlinecolumn fchild"
             id="pills-{{i[0]}}" role="tabpanel"
             aria-labelledby="pills-{{i[0]}}-tab">
            {% include 'files/prov/' + i[0] + '.html' %}
        </div>

        {%endif%}
        {%endfor%}
    </div>

{% endwith %}
{% endwith %}