{% extends "layouts/base.html" %}

{% block title %}{% endblock %}

{% block stylesheets %} {% endblock stylesheets %}

{% block content %}

{% with count = 0 %}

<div id="tab-view-content" style="position:relative; margin:20px;">
    <div class=" fcolumn fchild">
        <div class="tab-content fcolumn fchild " id="pills-tabContent">
             {% include "viewers/view.html" %}
        </div>
    </div>
</div>

{% endwith %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
