
<!DOCTYPE html>
<html lang="en">

<head>

    <title>
        VnV Toolkit Login Screen
    </title>    
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	
	<meta name="description" content="" />
	<meta name="keywords" content="">
	
	<link rel="icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
    <script src="/static/assets/js/vendor-all.min.js"></script>

    {% include 'includes/stylesheets.html' %}
    {% block stylesheets %}{% endblock stylesheets %}

</head>
<body>

		<!-- [ auth-signin ] start -->
	<div class="auth-wrapper">
		<div class="auth-content">
			<div class="card">
				<div class="row align-items-center text-center">
					<div class="col-md-12">
						<div class="card-body">

							<h4 class="mb-3 f-w-400">
                               	{% if error %}
									Invalid Password.
								{%else%}
                                	Please Login to Continue.
                            	{%endif%}
							</h4>
                            <form action="/login" method="post">
                                 <div class="form-group">
                                     <input name="password" type="password" class="form-control" id="vnv-pass" placeholder="Enter the Password" value="">
                                </div>
								<input type="text" hidden readonly name="next" value="{{next}}">
                                <button type="submit" style="width:100%" class="btn btn-primary">Login</button>
                            </form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- [ auth-signin ] end -->
	

</body>
</html>


