{% set no_padding = 1 %}
{% extends "layouts/base_no_sidebar.html" %}

{% block title %} {{title_name()}} {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% if PARAVIEW_READY() %}
    <iframe id='paraview' src="{{src_url}}" style="flex: 1; margin-bottom: 0px; border: none;"></iframe>
{% else %}
    <div style="font-size: 20px;display: flex;align-items: center;justify-content: center; height: 100%;">
        Paraview is still be initialized. Please try again in a few minutes.
    </div>
{%endif%}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
