<!-- [ Header ] start -->
<header class="navbar pcoded-header navbar-expand-lg navbar-light headerpos-fixed header-blue">


    <div class="m-header">
        <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
        <a href="#!" class="b-brand">
            <img src="{{logo_small()}}" alt="" class="logo" onclick="window.location.href='/'">
        </a>
        <a href="#!" class="mob-toggler">
            <i class="feather icon-more-vertical"></i>
        </a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto" style="flex:1">
            <li class="nav-item">
                <a href="#!" class="full-screen" onclick="javascript:toggleFullScreen()"><i
                        class="feather icon-maximize"></i></a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li>
                <a href="/term"><i class="icon fa fa-terminal"></i> Command</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li>
                <a href="/browse"><i class="icon fa fa-folder"> </i> Browse</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li>
                <a href="/ide"><i class="feather icon-code"></i> Develop</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li>
                <a href="/viz"><i class="fa fa-chart-bar"></i> Visualize</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li>
                <a href="/glvis_full"><i class="feather icon-bar-chart"></i>Glvis</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li>
                <a href="/"><i class="feather icon-cpu"></i> Validate</a>
            </li>
        </ul>

        {% for k,v in ALL_BLUEPRINTS.items() %}
        {%with get_template_file = v.get_template_file %}
        <ul class="navbar-nav ml-auto">
            {% include k + "/navigation.html" ignore missing %}
        </ul>
        {%endwith%}
        {%endfor%}


        <ul class="navbar-nav ml-auto">
            <li>
                <a href="#" onclick="$('#logoutbutton').click()"><i class="icon fa fa-sign-out-alt"></i> Logout</a>
            </li>
        </ul>


    </div>

    <div style="display:none">
        <form method="post" action="/logout" class="inline">
            <button id="logoutbutton" type="submit"></button>
        </form>
    </div>


</header>


<!-- [ Header ] end -->
