`<html lang="en">
<head>
    <meta charset="utf-8"/>
    <style>
      html { font-family: arial; }
    </style>
    <link rel="stylesheet" href="/static/assets/css/plugins/xterm.css"/>
</head>
<body style="margin:0; padding:10px; background:black">
<div style="position:relative">
<div id="status" style="position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    z-index: 100;">status:<span >connecting...</span></div>
<div style="width: 100%; height: 100%" id="terminal"></div>
</div>

<!-- xterm -->
<script src="/static/assets/js/plugins/xterm.js"></script>
<script src="/static/assets/js/plugins/xterm-addon-fit.js"></script>
<script src="/static/assets/js/plugins/xterm-addon-web-links.js"></script>
<script src="/static/assets/js/plugins/xterm-addon-search.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>

<script>
      const term = new Terminal({
        cursorBlink: true,
        macOptionIsMeta: true,
        scrollback: true,
      });

      fit = new FitAddon.FitAddon()
      term.loadAddon(new WebLinksAddon.WebLinksAddon());
      term.loadAddon(new SearchAddon.SearchAddon());
      term.loadAddon(fit);

      term.open(document.getElementById("terminal"));
      term.resize(80,24);

      term.onData((data) => {
        socket.emit("{{pty}}-input", { input: data });
      });

      const socket = io.connect("/{{pty}}");
      const status = document.getElementById("status");

      socket.removeAllListeners("{{pty}}-output");
      socket.on("{{pty}}-output", function (data) {
        term.write(data.output);
      });

      socket.on("connect", () => {
        status.remove()
        setTimeout(() => {
                socket.emit("{{pty}}-input", { input: "\n" });
        }, 500);
      });

      socket.on("disconnect", () => {
        status.innerHTML ='<span style="background-color: #ff8383;">disconnected</span>';
      });

      window.onresize = function() {
        fit.fit()
        const dims = { cols: term.cols, rows: term.rows };
        socket.emit("resize", dims);
      };



</script>
</body>
</html>`