<h2 style="flex:1">{{hive.filename}}</h2>
<div style="display:flex; align-items:end; margin-bottom:15px;">
    <form style="flex:1" id="schema_form" action="/browser/hive/schema" method="post">
        <div id="name-group" class="form-group" style="margin-right:10px; margin-bottom:0px; ">
            <label for="moose-exe" class="col-form-label">Hive Executable used to Generate the Schema:</label>
            <div style="display:flex">
                <input style="flex:1; margin-right:10px; " type="text" class="form-control" name="moose-exe" id="moose-exe" value="{{hive.moose_executable}}">
                <button type="button" class="btn  btn-primary" form="schema_form" onclick="set_schema()" style="margin-right:10px;">Set Schema</button>
                <button type="button"  class="btn btn-primary" style="margin-right:10px;" onclick='save_hive_file("{{hive.uuid}}")'>Save</button>
                <button type="button"  class="btn btn-primary" style="margin-right:10px;" onclick='format_hive_file("{{hive.uuid}}")'>Format</button>
                <button type="button"  class="btn btn-primary" style="margin-right:10px;" onclick='regen_mesh("{{hive.uuid}}")'>Toggle Mesh</button>

            </div>
        </div>
        <small style="color:red"><i id="schema_icon" class="feather icon-alert-triangle" style="{%if hive.error | length == 0%}display:hidden{%endif%}"></i><span id="schema_error">{{hive.error}}</span></small>
    </form>
</div>

<div style="display:flex;">

    <div id="view_file" style="flex:1; font-size:20px; height:1000px; width:100%; padding-top:10px; margin-bottom:20px;">{{hive.read()}}</div>
    <div id="mesh_file" style="flex:1; display:none; font-size:20px; height:1000px; width:100%; flex:1; padding-top:10px; margin-bottom:20px;">
        <iframe id="mesh_frame" style="height:1000px; border:none; width:100%"></iframe>
    </div>
</div>
<script>

function regen_mesh(uuid) {
    var editor = ace.edit("view_file");
    var code = editor.getValue();
    $.post(`/browser/hive/mesh?schema={{hive.uuid}}&val=${encodeURIComponent(code)}`, function(data, s, xhr){

        if (xhr.status == 200) {
            $('#mesh_frame').attr('src', data)
            $('#mesh_file').show()
        } else {
            $('#mes_file').hide()
            addToast(data, "", 4000)
        }
    });
}

function set_schema() {

    $.post(`/browser/hive/schema?schema={{hive.uuid}}&val=${encodeURIComponent($('#moose-exe').val())}`, function(data, s, xhr){


        $('#schema_error').html(data)
        if (data.length > 0 ) {
            $('#schema_icon').show()
        } else {
            $('#schema_icon').hide()
        }

        if (xhr.status == 200) {

            addToast("Schema Set", "", 4000)
        } else {
            addToast("Schema Failed: " + data, "", 4000)
        }
    });
}

function save_hive_file(uuid) {
    var editor = ace.edit("view_file");
    var code = editor.getValue();
     $.post(`/browser/hive/save?schema=${uuid}&val=${encodeURIComponent(code)}`, function(data, s, xhr){
        if (xhr.status == 200) {
            addToast("Save Successful","", 4000)
        } else {
            addToast("Save Failed: " + data, "", 4000)
        }
     });
}
function format_hive_file(uuid) {
    var editor = ace.edit("view_file");
    var code = editor.getValue();
     $.get(`/browser/hive/format?schema=${uuid}&val=${encodeURIComponent(code)}`, function(data, s, xhr){
        if (xhr.status == 200) {
            editor.setValue(data)
        } else {
            addToast("Something went wrong", "", 4000)
        }
     });
}

$( document ).ready(function(){

    var input_editor = ace.edit(view_file,
    {
        theme: "ace/theme/tomorrow_night_blue",
        mode: "ace/mode/moose",
        autoScrollEditorIntoView: true,
        minLines: 40,
        enableBasicAutocompletion: true,
        enableLiveAutocompletion: false
    });

    var inputWordCompleter = {
      getCompletions: function(editor, session, pos, prefix, callback) {
        $.get(`/browser/hive/autocomplete?schema={{hive.uuid}}&row=${pos.row}&col=${pos.column}&pre=${prefix}&val=${encodeURIComponent(editor.getValue())}`, function(data) {
            callback(null, data );
        });
      },
      getDocTooltip: function(item) {
         if (item.desc.length > 0 ) {
            item.docHTML = item.desc
         }
      }
    }
    langTools.addCompleter(inputWordCompleter)

    input_editor.session.on('change', function(delta) {

        $.get("/browser/hive/validate?schema={{hive.uuid}}&val=${encodeURIComponent(input_editor.getValue())}", function(data, s, xhr) {
                input_editor.session.setAnnotations(data)
        });
    });

    //validate
    $.get("/browser/hive/validate?schema={{hive.uuid}}&val=${encodeURIComponent(input_editor.getValue())}", function(data, s, xhr) {
                input_editor.session.setAnnotations(data)
        });

    //gen the mesh
    regen_mesh('{{hive.uuid}}')

});





</script>
